 @import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

    body {
      margin: 0;
      font-family: "Lexend Exa", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    }

    #hero .left-col,
    #hero .right-col {
      min-height: 100vh;
    }

    #hero .left-col {
      background-color: #1A1919;
    }

    #hero .right-col {
      background-color: #000000;
    }

    h1 {
      letter-spacing: 0.1rem;
    }

    .name {
      color: #ffffff;
    }

    .role-highlight {
      color: #6656F5;
    }

    .social-box {

      background-color: #6656F5;
      border-radius: 0.5rem;
      padding: 0.4rem 0.7rem;
      font-size: 1.5rem;


    }

    /*STUDY*/
    .studies-section {
      background-color: #000000;
      padding: 60px 20px;
      color: white;
    }

    .studies-section h2 {
      color: #6656F5;
      font-weight: 600;
      text-align: center;
      margin-bottom: 50px;
    }

    .study-card {
      background-color: #1E1E1E;
      border-radius: 12px;
      padding: 20px;
      display: flex;
      align-items: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      height: 100%;
    }

    .study-card img {
      width: 60px;
      height: 60px;
      border-radius: 8px;
      margin-right: 20px;
      object-fit: contain;
    }

    .study-title {
      color: #7c5fff;
      font-weight: 600;
      font-size: 1.1rem;
      margin: 0;
    }

    .study-date {
      color: #bbb;
      font-size: 0.9rem;
      margin: 0 0 4px 0;
    }

    .study-desc {
      color: #ddd;
      font-size: 0.95rem;
      margin: 0;
    }

    /*tech skills*/

    .skils-tech-section {
      background-color: #1A1919;
      padding: 50px;
    }

    .section-title-tech {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 40px;
      color: #000000;
    }

    .span-tech {
      color: #6656F5;
      font-weight: bold;
    }

    .skills-section {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 1100px;
      margin: auto;
      padding: 20px;
    }

    .skills-card {
      display: flex;
      border-radius: 5px;
      overflow: hidden;
      background-color: #000000;
      flex-wrap: wrap;
    }

    .skills-label {
      background-color: #D9D9D9;
      color: #000;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      min-width: 220px;
      font-size: 1.5rem;
      text-transform: uppercase;
      flex: 0 0 auto;
    }

    .skills-content {
      display: flex;
      flex-wrap: wrap;

      gap: 60px;
      padding: 20px;
      flex-grow: 1;
      justify-content: center;
    }

    .tech-box {
      background-color: #1e1e1e;
      color: white;
      text-align: center;
      padding: 15px 10px;
      border-radius: 10px;
      width: 120px;
      height: 120px;
      box-shadow: 0 0 10px #6656F5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s;
    }

    .tech-box:hover {
      transform: scale(1.05);
    }

    .tech-box img {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
      object-fit: contain;
    }

    .tech-box p {
      margin: 0;
      font-size: 0.85rem;
      font-weight: 600;
    }


    /*projects*/
    .section-projects {
      background-color: #D9D9D9;
      padding: 50px;
    }

    .section-title-project {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 40px;
      color: #1A1919;
    }

    .span-project {
      color: #6656F5;
      font-weight: bold;
    }

    .project-card {
      background-color: #000000;
      padding: 25px 20px;
      border-radius: 10px;
      box-shadow: 0 0 5px #d9d9d9;
      border-left: 4px solid #D9D9D9;
      border-right: 4px solid #D9D9D9;
      color: white;
      min-height: 220px;
    }

    .project-title {
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: 5px;
      color: #ffffff;
    }

    .project-stack {
      font-size: 0.85rem;
      color: #aaa;
      margin-bottom: 15px;
    }

    .project-desc {
      font-size: 0.9rem;
      margin-bottom: 20px;
      color: #e0e0e0;
    }

    .btn-github {
      background-color: #6656F5;
      color: white;
      font-weight: 600;
      font-size: 0.8rem;
      padding: 6px 12px;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    .btn-github:hover {
      background-color: #4d3df3;
      text-decoration: none;
    }

    /*soft skills*/
    .soft-skills-section {
      background-color: #6656F5;

    }

    .soft-skill-card {
      background-color: #D9D9D9;
      border: none;
      border-radius: 20px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

    }

    .soft-skill-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    }

    /*footer*/
    .footer-custom {
      background-color: #000000;
    }

    .text-light-emphasis {
      color: rgba(255, 255, 255, 0.6);

    }

    .footer-link {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      transition: color 0.3s;
    }

    .footer-link:hover {
      color: #ffffff;
      text-decoration: underline;
    }

    .navbar{
      background-color: #1A1919;
      font-size: 1.3rem;
      color: white;
      box-shadow: 0px 4px 8px rgba(119, 35, 35, 0.5);
      position: fixed;
      width: 100%;
    }

    .span-navbar{
      color: white;
    }

    @media (max-width: 768px) {
      .skills-card {
        flex-direction: column;
      }

      .skills-label {
        width: 100%;
        justify-content: center;
      }

      .skills-content {
        justify-content: center;
      }
    }

    /* Responsive mejoras */
    @media (max-width: 768px) {

      #hero .left-col,
      #hero .right-col {
        min-height: auto;
        padding: 2rem 1rem;
        text-align: center;
      }

      .social-box {
        position: static !important;
        border-radius: 0rem;
        display: flex;
        justify-content: center;
        gap: 1rem;

      }

      h1 {
        font-size: 2.2rem !important;
      }
    }

    @media (min-width: 769px) {
      .social-box {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }